
<h1>Blog Project</h1>

<a href="{%url 'new' %}">새글 작성하기</a>

<div>
    {% if user.is_authenticated %}
        <h3>안녕하세요 {{user.username}}님</h3>
    {% endif %}
    <a href = "{% url 'login'%}">로그인</a>
    <a href = "{% url 'logout'%}">로그아웃</a>
    <a href = "{% url 'register'%}">회원가입</a>
</div>



{% for blog in blogs%}

<hr>
<a href="{%url 'detail' blog.id%}">
{{blog.title}}
<br>
{{blog.pub_date}}
<br>
{{blog.summary}}
<br>


{% if blog.image %}
    <img src="{{blog.image.url}}">
{% endif %}
</a>

{% endfor %}
<style>
    body {
        background-color: ffc0cb
    }
    h1{
        font-family: fantasy;
    }
    a{
        font-family: fantasy;
    }
</style>